<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>index</title>
</head>

<body background="static/images/webAppBackground.jpg">

    <div class="container">
        <div class="jumbotron text-center">
          <h1>Image Page</h1>      
          <p>In this page, you can display image and export the image in .png</p>
        </div>
        
    </div>

    <div class="text-center">
        <img src="{{IMG}}" format="png" class="img-thumbnail text-center" />
    </div>

    <br><br>

    <form method="POST" action="/getImage" class="lg-form text-center">
        <div class=" form-group">
            <input type="hidden" value="{{IMG}}" name="passedIMG">
            <input type="submit" value="Download Image" class="btn btn-secondary btn-lg" />
        </div>
    </form>
    
    
</body>

</html>