<!DOCTYPE html>
<html>

<head>
    <title>Metadata Output</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body background="static/images/webAppBackground.jpg">
    <div id="data-output">
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="display-4">Upload Successfully! Output ISIS3 Metadata</h1>
                <p class="lead">Go ahead and feel free to edit it, FINALLY EXPORT IT!</p>
                <a class="btn btn-primary btn-lg" href="{{url_for('index')}}" role="button">Upload Another File</a>
            </div>
        </div>

        <div class="container">
            <div id="template" class="text-center">
                <label for="template-text">
                    <h2>Template Text</h2>
                </label>
                <textarea id="template-text" class="form-control bg-white text-dark" style="resize: vertical; font-size: 22px; ">{{TEMPAREA}}</textarea>
            </div>
            <br>
            <div id="metadata" class="text-center green-border-focus">
                <label for="metadata-text">
                    <h2>Metadata Output</h2>
                </label>
                <textarea readonly id="metadata-text" class="form-control bg-white text-dark" style="resize: vertical; font-size: 20px;">{{DICTSTRING}}</textarea>
            </div>
            <br>

            <div id="test-metadata" class="text-center green-border-focus">
                <label for="metadata-text">
                    <h2>Metadata Test</h2>
                </label>
                <textarea readonly id="test" class="form-control bg-white text-dark" style="resize: vertical; font-size: 20px;"></textarea>
            </div>

            <div id="template-output" class="text-center green-border-focus">
                <label for="template-text-output">
                    <h2>Template Text Output</h2>
                </label>
                <textarea readonly id="template-text-output" class="form-control bg-white text-dark" style="resize: vertical; font-size: 20px;"></textarea>
            </div>
        </div>
        <br><br>
        <form method="POST" action="/getCSV" class="lg-form text-center">
            <div class=" form-group">
                <input type="hidden" value="{{DICTSTRING}}" name="passedTXT">
                <input type="submit" value="Download Metadata" class="btn btn-secondary" />
            </div>
        </form>
        <br>
        <br>
        <form method="POST" action="/getImage" class="lg-form text-center">
            <div class=" form-group">
                <input type="hidden" value="{{IMG}}" name="passedIMG">
                <input type="submit" value="Download Image" class="btn btn-secondary " />
            </div>
        </form>
        <br>
        <br>
        <form class="lg-form text-center">
            <div class=" form-group">
                <a class="btn btn-secondary text-white" role="button" id="link" download="template.txt">Download
                    template</a>
            </div>
        </form>

    </div>

    <br>
    <br>
    <div class="text-center">
        <img src="{{IMG}}" format="png" class="img-thumbnail text-center" />
    </div>

    <script>
        var keys = [];
        var vals = [];

        template = document.getElementById("template-text");
        templateText = template.value;
        text = templateText;

        function setOutput() {
            var getTemplate = document.getElementById("template-text").value;
            var setText = document.getElementById("template-text-output").innerHTML = getTemplate;
        }

        // Gets All Metadata from the "metadata-text" div, and formats into two arrays. Keys and Vals.
        function getMetadata() {
            var metaDataString = document.getElementById("metadata-text").value;
            var metaDataArea = document.getElementById("test");
            metaDataString = metaDataString.split("{")[1];
            metaDataString = metaDataString.split("}")[0];
            var dataPairString = metaDataString.split(",");
            /*'TargetName': 'IO', 
            'SpacecraftName': '"NEW HORIZONS"', 
            'InstrumentId': 'LORRI', 
            'image': '/static/images/lor_0034821014_0x630_sci_1.png'
            dataPairString length: 4*/
            for (var i = 0; i < dataPairString.length; i++) {
                var dataToText = dataPairString[i].toString();
                //var table = document.getElementById("metadata-table");
                var key = dataToText.split(":")[0];
                key = key.replace(/['"]+/g, '');
                // console.log("key = " + key);
                var val = dataToText.split(":")[1];
                val = val.replace(/['"]+/g, '');
                // console.log("val = " + val);
                keys.push(key);
                // console.log("keys = " + keys);
                vals.push(val);
                // console.log("vals = " + vals);
            }
            for (var j = 0; j < keys.length; j++) {
                keys[j] = keys[j].trim();
                // console.log("trim keys = " + keys);
            }
            //  console.log("trim keys = " + keys);


            // for (var k = 0; k < keys.length; k++) {
            //     var temkey = "[[" + keys[k] + "]]";
            //     var temval = vals[k];
            //     var temstr = temkey + ": " + temkey + "\n";
            //     metaDataArea.value += temstr;
            //     console.log("metadataArea vals = " + vals);
            // }
            // console.log("metadataArea vals = " + metaDataArea.val);
        }

        // Converts Key to Tag
        function keyToTag(key) {
            var tag = "[[" + key + "]]";
            console.log("keyToTag starts, tag = " + tag);
            return tag;
        }

        // Return Metadata Val from Key
        function getMetadataVal(key) {
            text = document.getElementById("template-text").value;
            if (text.includes(keyToTag(key))) {
                console.log("getMetadataVal starts");
                console.log("getMetadataVal text = " + text);
                if (keys.includes(key)) {
                    var index = keys.indexOf(key);
                    var val = vals[index];
                    //var results = text.replace(/key/gi, val);
                    console.log("getMetadataVal index = " + index);
                    console.log("getMetadataVal val = " + val);
                }
            }
            return val;
        }

        String.prototype.replaceAll = function (find, replace) {
            var str = this;
            return str.replace(new RegExp(find.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&'), 'g'), replace);
        };



        function output() {
            var tempTemplate = document.getElementById("template-text");
            var tempTemplateText = tempTemplate.value;
            var temp = tempTemplateText;


            for (i = 0; i <= keys.length; i++) {
                if (temp.includes(keyToTag(keys[i]))) {

                    temp = temp.replaceAll(keyToTag(keys[i]), getMetadataVal(keys[i]));

                }
            }

            var output = document.getElementById("template-text-output").innerHTML = temp;
            var finalResult = output;
            var tpl = document.getElementById("link");
            tpl.href = 'data:attachment/text,' + encodeURI(finalResult);
            tpl.target = '_blank';
            tpl.download = 'template.txt';
        }

        setOutput();
        getMetadata();
        setInterval(output, 2000);
        //setInterval(setOutput, 1000);
        //setInterval(outputWithVariables, 3000);
    </script>
</body>

</html>