<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Photo Edit</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="static/dist/jquery.cropit.js"></script>

    <style>
        .image-editer{
            border: 1px solid #000000;
        }

        .image-controls{
            margin-left: 25%;        
        }

        .image-symbols{
            margin-left: 25%;
            background-color: #d9d9d9;
            border: 5px solid #000000;
            width: 600px;
        }

        .cropit-preview {
            background-color: #f8f8f8;
            background-size: cover;
            border: 20px solid #000000;
            border-radius: 3px;
            margin-top: 7px;
            margin-left: 25%;
            width: 600px;
            height: 600px;
        }
        
        .cropit-preview-image-container {
            cursor: move;
        }
        
        .image-size-label {
            margin-top: 10px;
        }
        .export {
            display: block;
        }
        button {
            margin-top: 10px;
        }
    </style>
</head>

<body background="static/images/webAppBackground.jpg">
    <div class="container">
    
	<div class="jumbotron jumbotron-fluid text-center">
                <h1 class="display-4">Display Image</h1>
                <p class="lead">In this page, you can see the image extracted from cub file, and then download it in png format.</p>
                <a class="btn btn-primary btn-lg" href="{{url_for('index')}}" role="button">Upload Another Cube File</a>
            </div>
    </div>

    <div id="metadata" style="display:none;"  class="text-center green-border-focus">
        <label for="metadata-text">
            <h2>Metadata Output</h2>
        </label>
        <textarea readonly id="metadata-text" class="form-control bg-white text-dark" style="resize: vertical; font-size: 22px;">{{DICTSTRING}}</textarea>
    </div>

    <div id="metadata-tags" style="display:none;" class="text-center green-border-focus">
        <label for="metadataTagArea">
            <h2>Metadata Tags</h2>
        </label>
        <textarea readonly id="metadataTagArea" class="form-control bg-white text-dark" style="resize: vertical; font-size: 22px;"></textarea>
    </div>
                                                                                        
    <div class="image-editor">
        <div class="image-controls" id="img-controls">
            <div class="image-size-label">
                Resize image
            </div>
            <input type="range" class="cropit-image-zoom-input">
            <button class="export">Export</button>
        </div>
        <div class="cropit-preview"></div>
    </div>

    <br/>
    
    <div class="image-symbols" id="img-symbols">
        <h2>Legend</h2>
        <table id="vals" style="width:100%">
            <tr id="north">
                <th>North:</th>
                <th id="north-deg">0 deg</th>
                <th><img id="north-arrow" src="static/images/north.png" height=25 width=25 style="-webkit-transform:rotate(90deg)"></th>
            </tr>
            <tr id="sun-az">
                <th>Sun Azimuthal Direction:</th>
                <th id="sun-deg">0 Deg</th>
                <th><img src="static/images/sun_symbol.png" height=25 width=25></th>
                <th><img id="sun-arrow" src="static/images/arrow.png" width=35 style="-webkit-transform:rotate(0deg)"></th>
            </tr>
            <tr id="obs-az">
                <th>Observer Azimuthal Direction:</th>
                <th id="obs-deg">0 deg</th>
                <th><img src="static/images/eye_symbol.png" height=25 width=25></th>
                <th><img id="obs-arrow" src="static/images/arrow.png" width=35 style="-webkit-transform:rotate(0deg)"></th>
            </tr>
         </table> 
    </div>
    
    <br/>
    
    <form method="POST" action="/getImage" class="lg-form text-center">
        <div class=" form-group">
            <input type="hidden" value="{{IMG}}" name="passedIMG">
            <input type="submit" value="Download Full Image" class="btn btn-secondary btn-lg" />
        </div>
    </form>
                                                                   
    <script>
        $(function() {
            $('.image-editor').cropit({
                maxZoom: 10,
                imageState: {
                    src: '{{IMG}}',
                },
            });

            $('.export').click(function() {
                var imageData = $('.image-editor').cropit('export');
                window.open(imageData);
            });
        });
    </script>

<script>
    var keys = [];
    var vals = [];

    // Gets All Metadata from the "metadata-text" div, and formats into two arrays. Keys and Vals.
    function getMetadata() {
        var metaDataString = document.getElementById("metadata-text").value;
        var metaDataArea = document.getElementById("metadataTagArea");

        metaDataString = metaDataString.split("{")[1];
        metaDataString = metaDataString.split("}")[0];

        var dataPairString = metaDataString.split(",");

        for (var i = 0; i < dataPairString.length; i++) {
            var dataToText = dataPairString[i].toString();
            var key = dataToText.split(":")[0];
            key = key.replace(/['"]+/g, '');
            var val = dataToText.split(":")[1];
            val = val.replace(/['"]+/g, '');
            keys.push(key);
            vals.push(val);
        }

        for(var j = 0; j < keys.length; j++) {
            keys[j] = keys[j].trim();
        }

        for (var k = 0; k < keys.length; k++) {
            var key = "[[" + keys[k] + "]]";
            var val = vals[k];
            var str = key + ": " + val + "\n";
            metaDataArea.value += str;
        }
        console.log(keys);
        console.log(vals);
    }

    getMetadata();
</script>
<script>
    var northDegree = 0;
    var sunDegree = 0;
    var observerDegree = 0;
    var northImg = document.getElementById("north-arrow");
    var northDeg = document.getElementById("north-deg");
    var sunDeg = document.getElementById("sun-deg");
    var sunArrow = document.getElementById("sun-arrow");
    var obsDeg = document.getElementById("obs-deg");
    var obsArrow = document.getElementById("obs-arrow");

    for(var i=0; i<keys.length; i++){
        if(keys[i] === "NorthAzimuth"){
            if(vals[i] !== "None"){
                northDeg.innerHTML = string(vals[i]) + "degs";
                northImg.setAttribute("style", "-webkit-transform:rotate(northDeg)");
            }else{
                northDeg.innerHTML = "Not Available";
                northImg.setAttribute("style", "-webkit-transform:rotate(0deg)");
            }
        }

        if(keys[i] === "SubSolarAzimuth"){
            if(vals[i] !== "None"){
                sunDeg.innerHTML = string(vals[i]) + "degs";
                sunArrow.setAttribute("style", "-webkit-transform:rotate(sunDeg)");
            }else{
                sunDeg.innerHTML = "Not Available";
                sunImg.setAttribute("style", "-webkit-transform:rotate(0deg)");
            }
        }

        if(keys[i] === "SubSpacecraftAzimuth"){
            if(vals[i] !== "None"){
                obsDeg.innerHTML = string(vals[i]) + "degs";
                obsArrow.setAttribute("style", "-webkit-transform:rotate(obsDeg)");
            }else{
                obsDeg.innerHTML = "Not Available";
                obsImg.setAttribute("style", "-webkit-transform:rotate(0deg)");
            }
        }
    }
</script>
</body>
