<DOCTYPE html>
    <body background="static/images/webAppBackground.jpg">
        <div class="jumbotron text-center">
            <h1>Planetary Image Caption Writer</h1>
            <sub>Powered by ISIS3</sub>
            <p class="lead">This website is only for the upload process
                 that will be a key component in our overall Caption Writing Application</p>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Submit an ISIS Cube File</h4>
                    <br>
                    <h2>Upload a Cube</h2>
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input name="uploadFile" type="file"/>
                    <br>
                    <h2>Upload a Template</h2>
                    <input name="templateFile" type="file"/>
                        <input type="submit" name="SubmitCube" value="Upload"/>
                    </form>
                </div>
            </div>
        </div>
    </body>
</DOCTYPE>