<DOCTYPE html>
    <body background="static/webAppBackground.jpg">
        <div class="jumbotron text-center">
            <h1>Upload Succeeded </h1>
            <p class="lead">The ISIS data has been extracted and stored</p>
        </div>
        <form action="/upload/campt" method="POST">
        <input type="submit" name="isis3 interaction" value="Run Campt"> Get an example isis3 command instead of cube file data</input>
            </form>
        <pre>{{ filecontent }}</pre>
    </body>
</DOCTYPE>