<!DOCTYPE html>
<html>

<head>
    <title>Metadata Output</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body background="static/images/webAppBackground.jpg">
    <div id="data-output">
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="display-4">Upload Successfully! Output ISIS3 Metadata</h1>
                <p class="lead">Go ahead and feel free to edit it, FINALLY EXPORT IT!</p>
                <a class="btn btn-primary btn-lg" href="{{url_for('index')}}" role="button">Upload Another Cube File</a>
            </div>
        </div>

        <div class="container">
            <div id="template" class="text-center">
                <label for="template-text">
                    <h2>Template Text</h2>
                </label>
                <textarea id="template-text" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px; ">{{TEMPAREA}}</textarea>
            </div>

            <div id="metadata" style="display:none;" class="text-center green-border-focus">
                <label for="metadata-text">
                    <h2>Metadata Output</h2>
                </label>
                <textarea readonly id="metadata-text" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;">{{DICTSTRING}}</textarea>
            </div>
            <br>
            <div id="tags" style="display:none;" class="text-center green-border-focus">
                <label for="tag-text">
                    <h2>All Tag Info</h2>
                </label>
                <textarea readonly id="tag-text" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;">{{CSVSTRING}}</textarea>
            </div>

            <div id="metadata-tags" style="display:none;" class="text-center green-border-focus">
                <label for="metadataTagArea">
                    <h2>Metadata Tags</h2>
                </label>
                <textarea readonly id="metadataTagArea" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"></textarea>
            </div>

            <div id="important-tags" style="display:none;" class="text-center green-border-focus">
                <label for="importantTagArea">
                    <h2>Important Test</h2>
                </label>
                <textarea readonly id="importantTagArea" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"></textarea>
            </div>
            <br>
            <div id="test-metadata" class="text-center green-border-focus">
                <label for="test">
                    <h2>Current Tags</h2>
                </label>
                <textarea readonly id="test" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"></textarea>
                <button id="button-more-tags" onclick="showMoreTags()">Show Important Tags</button>
            </div>
            <br>
            <div id="template-output" class="text-center green-border-focus">
                <label for="template-text-output">
                    <h2>Template Text Output</h2>
                </label>
                <textarea readonly id="template-text-output" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"></textarea>
            </div>
        </div>
        <br><br>
        <form method="POST" action="/getCSV" class="lg-form text-center">
            <div class=" form-group">
                <input type="hidden" value="{{CSVSTRING}}" name="passedTXT">
                <input type="submit" value="Download Metadata" class="btn btn-secondary btn-lg" />
            </div>
        </form>
        <br>
        <br>

        <form method="POST" action="/showImage" class="lg-form text-center">
            <!-- <div class="form-group">
                <a class="btn btn-secondary text-white btn-lg" role="button" href="{{url_for('showImage')}}">Display Image</a>
            </div> -->
            <div class=" form-group">
                <input type="hidden" value="{{IMG}}" name="image_present">
                <input type="submit" value="Display Image" class="btn btn-secondary btn-lg" />
            </div>
        </form>



        <br><br>

        <form class="lg-form text-center">
            <div class="form-group">
                <a class="btn btn-secondary text-white btn-lg" role="button" id="link" download="template.txt">Download
                    Caption</a>
            </div>
        </form>

    </div>

    <br>
    <br>
    <!-- <div class="text-center">
        <img src="{{IMG}}" format="png" class="img-thumbnail text-center" />
    </div> -->

    <br>
    <br>
    <script>
        var keys = [];
        var vals = [];
        var imptTags = [];
        var imptVals = [];

        template = document.getElementById("template-text");
        templateText = template.value;
        text = templateText;

        function setOutput() {
            var getTemplate = document.getElementById("template-text").value;
            var setText = document.getElementById("template-text-output").innerHTML = getTemplate;
        }

        // Gets All Metadata from the "metadata-text" div, and formats into two arrays. Keys and Vals.
        function getMetadata() {
            var metaDataString = document.getElementById("metadata-text").value;
            var metaDataArea = document.getElementById("metadataTagArea");

            metaDataString = metaDataString.split("{")[1];
            metaDataString = metaDataString.split("}")[0];

            var dataPairString = metaDataString.split(",");

            for (var i = 0; i < dataPairString.length; i++) {
                var dataToText = dataPairString[i].toString();
                var key = dataToText.split(":")[0];
                key = key.replace(/['"]+/g, '');
                var val = dataToText.split(":")[1];
                val = val.replace(/['"]+/g, '');
                keys.push(key);
                vals.push(val);
            }


            for (var j = 0; j < keys.length; j++) {
                keys[j] = keys[j].trim();
            }

            for (var k = 0; k < keys.length; k++) {
                var key = "[[" + keys[k] + "]]";
                var val = vals[k];
                var str = key + ": " + val + "\n";
                metaDataArea.value += str;
            }
        }

        // Gets All Important Tags
        function getImportantTags() {
            var tags = document.getElementById("tag-text").value;
            var metaDataArea = document.getElementById("importantTagArea");

            tags = tags.split("{")[1];
            tags = tags.split("}")[0];

            var dataPairString = tags.split(",");

            for (var i = 0; i < dataPairString.length; i++) {
                var dataToText = dataPairString[i].toString();
                var key = dataToText.split(":")[0];
                key = key.replace(/['"]+/g, '');
                var val = dataToText.split(":")[1];
                //val = val.replace(/['"]+/g, '');
                console.log("Val[" + i + "] is" + val);
                imptTags.push(key);
                imptVals.push(val);
            }

            for (var j = 0; j < imptTags.length; j++) {
                imptTags[j] = imptTags[j].trim();
            }

            for (var k = 0; k < imptTags.length; k++) {
                var key = "[[" + imptTags[k] + "]]";
                var val = imptVals[k];
                var str = key + ": " + val + "\n";
                metaDataArea.value += str;
            }


        }

        // Converts Key to Tag
        function keyToTag(key) {
            var tag = "[[" + key + "]]";
            return tag;
        }

        // Return Metadata Val from Key
        function getMetadataVal(key) {
            text = document.getElementById("template-text").value;
            if (text.includes(keyToTag(key))) {
                if (keys.includes(key)) {
                    var index = keys.indexOf(key);
                    var val = vals[index];
                    var results = text.replace(/key/gi, val);
                }
                else if (imptTags.includes(key)) {
                    var index = imptTags.indexOf(key);
                    var val = imptVals[index];
                    var results = text.replace(/key/gi, val);
                }
                else {
                    val = "NONE";
                }
            }
            return val;
        }

        String.prototype.replaceAll = function (find, replace) {
            var str = this;
            return str.replace(new RegExp(find.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&'), 'g'), replace);
        };

        function output() {
            var tempTemplate = document.getElementById("template-text");
            var tempTemplateText = tempTemplate.value;
            var temp = tempTemplateText;

            for (var i1 = 0; i1 <= keys.length; i1++) {
                if (temp.includes(keyToTag(keys[i1]))) {
                    temp = temp.replaceAll(keyToTag(keys[i1]), getMetadataVal(keys[i1]));
                }
            }

            for (var i2 = 0; i2 <= imptTags.length; i2++) {
                if (temp.includes(keyToTag(imptTags[i2]))) {
                    temp = temp.replaceAll(keyToTag(imptTags[i2]), getMetadataVal(imptTags[i2]));
                }
            }



            var output = document.getElementById("template-text-output").innerHTML = temp;

            var finalResult = output;
            var tpl = document.getElementById("link");
            tpl.href = 'data:attachment/text,' + encodeURI(finalResult);
            tpl.target = '_blank';
            tpl.download = 'exportTPL.txt';
        }

        function showMoreTags() {
            var val = document.getElementById("button-more-tags").innerHTML;
            var textArea = document.getElementById("test");
            var metaTags = document.getElementById("metadataTagArea");
            var importantTags = document.getElementById("importantTagArea");
            val = val.toString();

            if (val === "Show Important Tags") {
                val = "Show All Tags";
                document.getElementById("button-more-tags").innerHTML = val;
                textArea.value = metaTags.value;
            } else {
                val = "Show Important Tags";
                document.getElementById("button-more-tags").innerHTML = val;
                textArea.value = importantTags.value;
            }
        }

        setOutput();
        getMetadata();
        getImportantTags();
        showMoreTags();
        setInterval(output, 5000);
            //setInterval(setOutput, 1000);
            //setInterval(outputWithVariables, 3000);
    </script>
</body>

</html>
